apiVersion: apps/v1
kind: Deployment
metadata:
  name: simon-frontend
spec:
  replicas: 1                      
  selector:
    matchLabels:
      app: simon-guestbook
      component: frontend
  template:
    metadata:
      labels:
        app: simon-guestbook
        component: frontend
    spec:
      containers:
        - name: frontend
          image: ghcr.io/rafaelnacho1/frontend:latest
          ports:
            - containerPort: 8080
          resources:
            requests:
              cpu: 100m
              memory: 256Mi
            limits:
              cpu: 100m
              memory: 512Mi
---
apiVersion: v1
kind: Service
metadata:
  name: simon-frontend
spec:
  type: ClusterIP
  selector:
    app: simon-guestbook
    component: frontend
  ports:
    - port: 8080
      targetPort: 8080
---
apiVersion: route.openshift.io/v1
kind: Route
metadata:
  name: simon-frontend
spec:
  to:
    kind: Service
    name: simon-frontend
  port:
    targetPort: 8080
